<!DOCTYPE html>
<html lang="en">
  <head>
      {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Admin Dashboard</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'dashboard/assets/vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/assets/vendors/ti-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/assets/vendors/css/vendor.bundle.base.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/assets/vendors/font-awesome/css/font-awesome.min.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'dashboard/assets/vendors/font-awesome/css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'dashboard/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css' %}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'dashboard/assets/css/style.css' %}">
  <!-- Favicon -->
    <link rel="icon" href="{% static 'img/favicon-naiorbi1.png' %}">
  </head>
   
  <body>
    <div class="container-scroller">
      <div class="row p-0 m-0 proBanner" id="proBanner">
       
        </div>
      </div>
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
          <a class="navbar-brand brand-logo" href="index.html"><img src="{% static 'img/logo01.png' %}" alt="logo" style="height: 100px; width: 200px; padding: 20px" /></a>
          <a class="navbar-brand brand-logo-mini" href="index.html"><img src="assets/images/logo-mini.svg" alt="logo" /></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-stretch">

          <div class="search-field d-none d-md-block">
           
          </div>
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item nav-profile dropdown">
              <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
               
                <div class="nav-profile-text">
                  <p class="mb-1 text-black">{{ request.user }}</p>
                </div>
              </a>
              <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">

                <a class="dropdown-item" href="{% url 'logout' %}">
                  <i class="mdi mdi-logout me-2 text-primary"></i> Signout </a>
              </div>
            </li>

            
             
            <li class="nav-item dropdown">
              <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-bs-toggle="dropdown">
                <i class="fa fa-user-circle"></i>
                <span class="count-symbol bg-danger"></span>
              </a>
            </li>
            <li class="nav-item nav-logout d-none d-lg-block">
              <a class="nav-link" href="#">
                <i class="mdi mdi-power"></i>
              </a>
            </li>
            <li class="nav-item nav-settings d-none d-lg-block">
              <a class="nav-link" href="#">
                <i class="mdi mdi-format-line-spacing"></i>
              </a>
            </li>
          </ul>

        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item nav-profile">
              <a href="#" class="nav-link">
                <div class="nav-profile-image">
                <i   class="fa fa-user fa-3x"></i>
                  <span class="login-status online"></span>
                  <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex flex-column">
                  <span class="font-weight-bold mb-2">{{ request.user }}</span>
                  <span class="text-secondary text-small">Admin</span>
                </div>
                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link  " href="{% url 'dashboard' %}">
                <span style="color: blue;"  class="menu-title">Dashboard</span>
                <i style="color: blue;"  class="mdi mdi-home menu-icon color12"></i>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'upload' %}">
                <span class="menu-title">Update Team</span>
               
                <i class=" "></i>
              </a>
                
               <a class="nav-link" href="{% url 'upload' %}">
                <span class="menu-title">Delete a Team</span>
               
                <i class=" "></i>
              </a>  
                
                
                   <a class="nav-link" data-bs-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                <span class="menu-title">User Pages</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-lock menu-icon"></i>
              </a>
              <div class="collapse" id="auth">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item">
                    <a class="nav-link" href="pages/samples/blank-page.html"> Blank Page </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="pages/samples/login.html"> Login </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="pages/samples/register.html"> Register </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="pages/samples/error-404.html"> 404 </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="pages/samples/error-500.html"> 500 </a>
                  </li>
                </ul>
              </div>
              
            </li>
              

          </ul>
        </nav>
     
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
           {% block body %}
            <div class="page-header">
              <h3 class="page-title">
                <span class="">
                  <i class=""></i>
                </span> Dashboard
              </h3>
              <nav aria-label="breadcrumb">
                <ul class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page">
                    <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="row">
              <div class="col-md-4 stretch-card grid-margin">
                <div class="card bg-gradient-danger card-img-holder text-white">
                  <div class="card-body">
                    
                    <h4 class="font-weight-normal mb-3">Today's Appointments<i class="mdi mdi-chart-line mdi-24px float-end"></i>
                    </h4>
                    <h2 class="mb-5">{{ appointment_count }}</h2>
                    <h6 class="card-text">Increased by 60%</h6>
                      <a href="{% url 'appointments_dashboard' %}"> <button class="btn btn-dark btn-rounded"><h6 class="card-text">Manage Appointments</h6></button></a>
                  </div>
                </div>
              </div>
              <div class="col-md-4 stretch-card grid-margin">
                <div class="card bg-gradient-info card-img-holder text-white">
                  <div class="card-body">
                    
                    <h4 class="font-weight-normal mb-3">Manage Contacts <i class="fa fa-contao fa-3x float-end"></i>
                    </h4>
                    <h2 class="mb-5">{{ contact_count }}</h2>
                    <h6 class="card-text">Decreased by 10%</h6>
                       <a href="{% url 'contacts_dashboard' %}"> <button class="btn btn-dark btn-rounded"><h6 class="card-text">View</h6></button></a>
                  </div>
                </div>
              </div>
              <div class="col-md-4 stretch-card grid-margin">
                <div class="card bg-gradient-success card-img-holder text-white">
                  <div class="card-body">
                    
                    <h4 class="font-weight-normal mb-3">Users <i class="fa fa-user-circle fa-3x float-end"></i>
                    </h4>
                    <h2 class="mb-5">Regular Users :{{ user_count }}</h2>
                      <h6 class="card-text">Admins :{{ user_count_admin }}</h6>
                   <a href="/admin/a  bb uth/user/"> <button class="btn btn-dark btn-rounded"><h6 class="card-text">Manage Users</h6></button></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Recent Appointments List</h4>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th> Name </th>
                            <th> Phone No </th>
                            <th> Status </th>
                            <th> Time and Date </th>
                              <th> Doctor </th>
                            <th>Message </th>
                             
                          </tr>
                        </thead>
                        <tbody>
                        {% for x in appointments %}
                          <tr>
                            <td>
                             {{ x.name }}
                            </td>
                            <td> {{ x.phone }} </td>
                            <td>
                              <label class="badge badge-gradient-success">NEW</label>
                            </td>
                           <td>{{ x.appointment_time|date:"Y-m-d H:i" }}</td>
                              <td> {{ x.doctor }} </td>
                            <td> {{ x.message }} </td>
                          </tr>

                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-5 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body p-0 d-flex">
                    <div id="inline-datepicker" class="datepicker datepicker-custom"></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-7 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Contact Us List</h4>
                   <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th> Name </th>
                              <th> Email </th>
                            <th> Phone No </th>
                            
                            
                              <th> Subject </th>
                            <th>Message </th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for x in contacts %}
                          <tr>
                            <td>
                             {{ x.name }}
                            </td>
                            <td> {{ x.email }} </td>
                            
                           
                              <td> {{ x.phone }} </td>
                              <td> {{ x.subject }} </td>
                            <td> {{ x.message }} </td>
                          </tr>

                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           
                {% endblock %}
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->

          <!-- partial -->
        </div>
     
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{% static 'dashboard/assets/vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{% static 'dashboard/assets/vendors/chart.js/chart.umd.js' %}"></script>
    <script src="{% static 'dashboard/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'dashboard/assets/js/off-canvas.js' %}"></script>
    <script src="{% static 'dashboard/assets/js/misc.js' %}"></script>
    <script src="{% static 'dashboard/assets/js/settings.js' %}"></script>
    <script src="{% static 'dashboard/assets/js/todolist.js' %}"></script>
    <script src="{% static 'dashboard/assets/js/jquery.cookie.js' %}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="{% static 'dashboard/assets/js/dashboard.js' %}"></script>
    <!-- End custom js for this page -->
  </body>
</html>